<footer class="py-3 my-3 border-top bg-success">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <h5>Info</h5>
        <p class="p-0 text-body-secondary">
          James Nguyen <br> ID: 32963742
        </p>
      </div>

      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <h5>About</h5>
        <p class="p-0 text-body-secondary">
          I am dedicated to life-long learning
        </p>
      </div>

      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <h5>Contact</h5>
        <p class="p-0 text-body-secondary">
          Phone: 0432109876 <br> Email: dummy-email@pdma.com
        </p>
      </div>
    </div>
  </div>
</footer>
