<nav class="navbar navbar-expand-lg bg-black">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/logo.png"></a>
    <button class="navbar-toggler bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-success" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Driver
          </a>
          <ul class="dropdown-menu bg-dark">
            <li><a class="dropdown-item text-success" href="/32963742/James/driver/add">Add</a></li>
            <li><a class="dropdown-item text-success" href="/32963742/James/driver/list">List</a></li>
            <li><a class="dropdown-item text-success" href="/32963742/James/driver/delete">Delete</a></li>
            <li><a class="dropdown-item text-success" href="/32963742/James/driver/department">Deparments</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-success" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Package
          </a>
          <ul class="dropdown-menu bg-dark">
            <li><a class="dropdown-item text-success" href="/32963742/James/package/add">Add</a></li>
            <li><a class="dropdown-item text-success" href="/32963742/James/package/list">List</a></li>
            <li><a class="dropdown-item text-success" href="/32963742/James/package/delete">Delete</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-success" href="/32963742/James/stats">
            Stats
          </a>
        </li>
      </ul>


      <% if (!login) { %>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-success" href="/32963742/James/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success" href="/32963742/James/register">Sign up</a>
          </li>
        </ul>
      <% } else { %>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-success" href="/32963742/James/logout">Log out</a>
          </li>
        </ul>
      <% } %>
      
    </div>
  </div>
</nav>
